@import 'smart-grid';
@import 'header';

html {
  .reset();
  color: #fff;
  font-size: 10px;
}

body {
  font-size: 16px;
}

.debug {
  .debug(rgba(72, 67, 83, 0.24), 1px solid rgba(57, 51, 250, 0.33));
  pointer-events: none;
}

.wrapper {
  .wrapper()
}